body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 2rem;
  background: #f4f4f4;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filtros label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.filtros select,
.filtros button {
  padding: 0.5rem;
  font-size: 1rem;
}

.grafico {
  max-width: 1000px;
  margin: 0 auto;
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#metricSelect {
  appearance: none;
  min-width: 220px;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  background-color: #fff;
  height: 150px;
  overflow-y: auto;
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #333;
  color: white;
  border-radius: 8px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.logo span {
  color: #28a745;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.nav-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--dark-color);
    cursor: pointer;
    display: none;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu-item {
    margin-left: 2rem;
}

.nav-menu-link {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: 500;
    transition: var(--transition);
    position: relative;
}

.nav-menu-link:hover {
    color: var(--primary-color);
}

.nav-menu-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.nav-menu-link:hover::after {
    width: 100%;
}

/* Hero Section */
/*como poner una imagen de fondo en la seccion hero que tengo en la carpeta static/img/Eolica.jpg*/
.hero {
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/img/Sarnia_Solar-09.jpg') no-repeat center center/cover;
    color: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero h1 span {
    color: #28a745;
}

.hero h2 {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 0 auto 2rem;
}
